# ignore the assets folder under current directory
/data_assets/*
!/data_assets/fonts/

# ignore idea files
/.idea/

# ignore executables
*.exe

# ignore replay change
/replay/
/data/BHElib/input/current

# ignore score change
/score/

# ignore lstg_log change
/lstg_log.txt